*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}

*:focus{
    outline: none;
}

body{
    position: relative;
    width: 100%;
    min-height: 100vh;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../../../Images/backgroudlog.jpeg");
    background-size: cover;
    background-position: center;
    font-family: 'roboto', sans-serif;
}

.form{
    width: 400px;
    height: auto;
    color: white;
    font-family: 'roboto', sans-serif;
	align-items:center;
}

.heading{
    opacity: 0;
    text-transform: capitalize;
    text-align: center;
    font-size: 80px;
    font-weight: 300;
    margin-bottom: 50px;
    align-items:center;
}

input, .submit-btn {
    opacity: 0;
    width: 80%;
    height: 35px;
    display: block;
    margin: 20px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.3);
    border: none;
    color: white;
    padding: 15px;
    transition: .5s;
    text-decoration: capitalize;
}

input::placeholder{
    color: white;
}

input:focus, .submit-btn:hover{
    background: white;
    color: black;
}

input:focus:placeholder{
    color: black;
}

.submit-btn{
    opacity: 0;
    width: auto;
    padding: 0 20px;
    cursor: pointer;
    margin: 50px auto 0;
}

.submit-btn:hover{
    color: black;
}

.link {
    opacity: 0;
    text-align: center;
    text-transform: capitalize;
    color: rgba(255, 255, 255, 0.5);
    display: block;
    margin: 30px auto 0;
}

.link:hover{
    color: black;
}

.alert-box{
    position: absolute;
    top: -100%;
    left: 50%;
    transform: translateX(-50%);
    min-width: 150px;
    max-width: 90%;
    width: auto;
    height: auto;
    padding: 10px;
    text-transform: capitalize;
    background: rgb(255, 119, 119);
    border-top: 10px solid rgb(255, 37, 37);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: #fff;
    font-family: 'roboto', sans-serif;
    text-align: center;
    transition: 1s;
    display: block;
}

